doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,600" rel="stylesheet" type="text/css")
    link(href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="style.css")
    title Dice Game
  body
    .wrapper.clearfix
      .player-0-panel.active
        .player-name#name-0 Player 1
        .player-score#score-0 43
        .player-current-box
          .player-current-label Current
          .player-current-score#current-0 11
      .player-1-panel
        .player-name#name-1 Player 2
        .player-score#score-1 72
        .player-current-box
          .player-current-label Current
          .player-current-score#current-1 0

      button.btn-new 
        i.ion-ios-plus-outline
        | New Game
      button.btn-roll
        i.ion-ios-loop
        | Roll Dice 
      button.btn-hold 
        i.ion-ios-download-outline
        | Hold
      input.final-score(type="text" placeholder="Final score")

      img(src="asset/image/dice-5.png", alt="Dice").dice
      //- script(src="asset/js/main.js")
      script(src="asset/js/challenges.js")